# LangChain
langchain
langchain-core

# OpenAI
langchain-openai
openai

# Google Gemini
langchain-google-genai
google-generativeai

# Anthropic
langchain-anthropic

#Groq 
langchain-groq


# Hugging Face
langchain-huggingface
transformers
huggingface-hub

# Environment variables
python-dotenv

# ML utilities
numpy
scikit-learn

#Groq
langchain-groq

#local Embedding 

sentence-transformers


#streamlit 

streamlit